mutual-order.ddns.net {
    reverse_proxy mutual-order_app_1:5001
    # Database admin - restrict to specific path
    #handle /admin__db {
    #    reverse_proxy mutual-order_adminer_1:8080
    #}    
    header {
        Strict-Transport-Security "max-age=31536000; includeSubDomains"
        X-Frame-Options "DENY"
        X-Content-Type-Options "nosniff"
        X-XSS-Protection "1; mode=block"
        Referrer-Policy "strict-origin-when-cross-origin"
    }
}
