{% extends "base.html" %}

{% block title %}Commande {{ order.seller_name }} - MUTUAL ORDER{% endblock %}

{% block head %}
    <script>
        // Pass user data to JavaScript
        window.currentUserId = {{ current_user.id }};
        window.isAdmin = {{ 'true' if current_user.is_admin else 'false' }};
    </script>
{% endblock %}

{% block content %}
<script>
    window.currentUserId = {{ current_user.id }};
    window.isAdmin = {{ 'true' if current_user.is_admin else 'false' }};
    window.orderData = {{ order | tojson | safe }};
</script>

<!-- Include the static JS -->
<script src="{{ url_for('static', filename='js/orderApp.js') }}"></script>

<!-- Alpine component wrapper -->
<div x-data="orderApp()" x-init="init(); console.log('Alpine component loaded, showChat =', showChat)" class="min-h-screen">

    <div x-show="!loading" x-cloak class="max-w-7xl mx-auto px-4 py-6">
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 items-start">
            <!-- Main Content - 2/3 width -->
            <div class="lg:col-span-2">
                {% include 'components/order_v2/info_section.html' %}
                {% include 'components/order_v2/add_listing_section.html' %} 
                {% include 'components/order_v2/validation_section.html' %}
                {% include 'components/order_v2/chat.html' %}
                {% include 'components/order_v2/chat_embedded.html' %}
                {% include 'components/order_v2/listings_section.html' %}

            </div>

            <!-- Right Panel - 1/3 width -->
            <div class="space-y-6">
                {% include 'components/order_v2/status_section.html' %}
                {% include 'components/order_v2/participants_section.html' %}
                {% include 'components/order_v2/order_summary_section.html' %}
                {% include 'components/order_v2/admin_section.html' %}
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block scripts %}
    <script>
        console.log('Order V2 page loaded');
        console.log('Current User ID:', window.currentUserId);
        console.log('Is Admin:', window.isAdmin);
    </script>
{% endblock %}